.listContainer {
  max-width: 1200px;
  margin: auto;
}
.listHeader {
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 30px;
}

.subListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.emptyMessage {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
  color: #555;
}
.subListContainer_text {
  margin-top: 50px;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.btn {
  border: 1px solid var(--color-border);
  padding: 10px 30px;
  border-radius: 8px;
  color: var(--color--white);
  background-color: var(--color-primary);
  cursor: pointer;
  animation: all 0.2s ease-in-out;
}
.btn:hover {
  color: var(--color-primary);
  background-color: var(--color--white);
  border: 1px solid var(--color-primary);
}

@media (max-width: 900px) {
  .listContainer {
    padding: 30px;
  }
  .listHeader {
    font-size: 1.5rem;
  }
  .subListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
